h1 {
  color: blue;
  text-align: center;
  font-size: 40px;
}
body {
  text-align: center;
  background-color: rgb(242, 192, 135);
}
a {
  color: rgb(170, 80, 80);
  font-size: 30px;
  text-align: center;
}
p {
  color: black;
  border: 5px solid blue;
  font-size: 20px;
  text-align: center;
}
